MONGODB_URI=
MONGODB_DATABASE=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_SECRET=
JWT_ACCESS_TOKEN_MINUTES=
JWT_REFRESH_TOKEN_DAYS=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=
LOCAL_UPLOAD_ROOT=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENABLE_SSL=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
SMTP_DEFAULT_RECIPIENTS=
BACKUP_DIRECTORY=
